<div class="app-container">
  <app-hero
    [coverUrl]="coverUrl()"
    [partner1Name]="partner1Name()"
    [partner2Name]="partner2Name()"
  />

  <section id="gallery" class="section bg-light">
    <app-gallery
      [user]="slug()"
      [partner1Name]="partner1Name()"
      [partner2Name]="partner2Name()"
    />
  </section>

  <section id="timeline" class="section">
    <app-timeline />
  </section>

  <section id="location" class="section bg-light">
    <app-map />
  </section>

  <section id="rsvp" class="section">
    <div class="section-content">
      <app-rsvp-form />
    </div>
  </section>

  <app-contact
    [partner1Name]="partner1Name()"
    [partner2Name]="partner2Name()"
  />
  <app-gifts
    [partner1Name]="partner1Name()"
    [partner2Name]="partner2Name()"
  />
  <app-calendar
    [partner1Name]="partner1Name()"
    [partner2Name]="partner2Name()"
  />
  <app-invitation-footer />
  <app-music-player
    [user]="slug()"
    [song]="song()"
    [partner1Name]="partner1Name()"
    [partner2Name]="partner2Name()"
  />
</div>
